*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    text-align: center;
    padding-top: 50px;
}

body{
    background-color: #f5f6fa;
    height: 100vh;
}

.container {
    width: 500px;
    background-color: #1b1b19;
    margin: 20px auto;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

form #weight, #height {
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 80%;
}

form #btn {
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15.5px;
    width: 50%;
    background-color: #2c6e18;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form #btn:hover {
    background-color: #2a6716;
}

#result-card {
    width: 500px;
    background-color: #1b1b19;
    margin: 50px auto;
    color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
}

#result-card p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

#result-card #reset {
    padding: 13px 25px;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15.5px;
    background-color: #bc5c0e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#result-card #reset:hover {
    background-color: #a84f0b;
}


@media screen and (max-width: 530px) {
    h1 {
        font-size: 25px;
    }
    .container {
        width: 90%;
        padding: 10px;
    }
    form #weight, #height {
        width: 90%;
    }
}